@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

* {
	margin: 0;
	padding: 0;
	font-family: "cwTeXHei", "Arial", "微軟正黑體", "Microsoft Jhenghei";

}
body {
	overflow-x: hidden;
}

.template {
	display: none;
}

.msg_container {
	padding: 10px;
	padding-bottom: 80px;
	vertical-align: bottom;
}
.msg_container .head {
	font-weight: 900;
	color: green;
}
.msg_container .msg {
	line-height: 20px;
}
.msg_container .msg .name {
	font-weight: 600;
}
.msg_container .msg .name::after {
	content: ":";
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.msg_container .msg .like_cnt {
	padding: 4px;
	font-size: 12px;
	color: white;
	background: red;
	border-radius: 10px;
	cursor: pointer;
}
.msg_container .msg .time {
	font-size: 10px;
	color: #AAAAAA;
}
.msg_container .msg .time::before {
	content: "(";
}
.msg_container .msg .time::after {
	content: ")";
}
.msg_container .msg:hover .ip {
	display: inline-block;
}
.msg_container .msg:hover .ip::before {
	content: "@";
}
.msg_container .msg .ip {
	display: none;
	margin-left: 10px;
	color: #AAAAAA;
}

.input_container {
	display: block;
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	padding: 10px;
	background: white;
	border-top: 2px #AAAAAA solid;
}
.input_container > * {
	display: inline-block;
	line-height: 30px;
	padding: 2px;
	font-size: large;
}
.input_container .input {
	width: 80%;
}

